<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Manager</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<header class="header">
    <h1>Finance Manager</h1>
    <h1>
        Добро пожаловать,
        <span id="user-name"></span>
    </h1>
    <button id="logout" class="btn">Log out</button>
</header>
<main class="main-content">

    <section class="add-transaction-section">
        <canvas id="circle" width="200" height="200"></canvas>
        <h2>Add Transaction</h2>
        <form id="transaction-form" class="transaction-form">
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" step="0.01" name="amount" id="amount" placeholder="Enter amount" required>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select name="type" id="type" required>
                    <option value="income">Income</option>
                    <option value="expense">Expense</option>
                </select>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <label for="category">Category</label>
                <select name="category" id="category" required>
                    <optgroup label="Expenses">
                        <option value="groceries">Продукты питания</option>
                        <option value="utilities">Коммунальные услуги</option>
                        <option value="transport">Транспорт</option>
                        <option value="entertainment">Развлечения</option>
                        <option value="clothing">Одежда и обувь</option>
                        <option value="health">Здоровье и медицина</option>
                        <option value="education">Образование</option>
                        <option value="dining">Кафе и рестораны</option>
                        <option value="beauty">Косметика и парикмахерские услуги</option>
                        <option value="home">Домашние расходы</option>
                        <option value="travel">Путешествия</option>
                        <option value="fitness">Спорт и фитнес</option>
                        <option value="electronics">Техника и электроника</option>
                        <option value="gifts">Подарки и благотворительность</option>
                        <option value="insurance">Страхование</option>
                    </optgroup>
                    <optgroup label="Income">
                        <option value="salary">Зарплата</option>
                        <option value="bonus">Премии и бонусы</option>
                        <option value="dividends">Дивиденды</option>
                        <option value="gifts_income">Подарки</option>
                        <option value="debt_repayment">Возврат долгов</option>
                        <option value="asset_sale">Продажа имущества</option>
                        <option value="investments">Инвестиции</option>
                        <option value="freelance">Фриланс и подработка</option>
                        <option value="benefits">Государственные пособия</option>
                        <option value="interest">Проценты по вкладам</option>
                        <option value="inheritance">Наследство</option>
                        <option value="tax_refund">Возврат налогов</option>
                        <option value="scholarship">Стипендии</option>
                        <option value="rental_income">Доход от аренды</option>
                        <option value="other_income">Прочие доходы</option>
                    </optgroup>
                </select>

            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="Add a description"></textarea>
            </div>
            <div class="form-group">
                <label for="date">Month</label>
                <input type="date" name="date" id="date" required>
            </div>
            <button type="submit" class="btn">Add Transaction</button>
        </form>
    </section>
    <section class="transaction-display">
        <h2>Transactions</h2>
        <table id="transaction-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Action</th> <!-- Column for delete action -->
                </tr>
            </thead>
            <tbody id="transaction-list">
                <!-- Transactions will be dynamically added here -->
            </tbody>
        </table>
    </section>
</main>
<script src="../static/js/index_1.js"></script>
</body>
</html>
